# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Virtual environment
.venv/

# Data
data/raw/*
data/processed/*
data/tokenizer/*

# Checkpoints
checkpoints/*
*.pt
*.pth
*.ckpt
*.safetensors

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
